body {
    height: 100vh;
    /* background-color: red; */
    font-family: 'Montserrat', sans-serif;

}

.rounded-top-left-1 {
    border-top-left-radius: 1rem;
}

.rounded-top-right-1 {
    border-top-right-radius: 1rem;
}

.rounded-bottom-left-1 {
    border-bottom-left-radius: 1rem;
}

.rounded-bottom-right-1 {
    border-bottom-right-radius: 1rem;
}

span {
    font-size: 12px;
}